{% comment  %} open the directory containing the icon files.{% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block 'title' %}
    {% endblock 'title' %}
    <title>Expense Tracker</title>
    
    {% comment  %} from the 'static' directory load the file 'favicon.ico'.{% endcomment %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/png"/>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <!-- bootstrap -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-sm navbar-light" style="background-color: #3265b8;-webkit-box-shadow: 0 8px 6px -6px #999;-moz-box-shadow: 0 8px 6px -6px #999;box-shadow: 0 8px 6px -6px #999; width:100%%">
      <a class="navbar-brand" href="{% url 'home' %}" style="color:white;">
        <img src="{% static 'icon32.png' %}" width="32" height="32" class="d-inline-block align-top" alt="" >
        Expense Tracker
      </a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active" >
            <a class="nav-link" href="{% url 'home' %}" style="color:white;">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active" >
            <a class="nav-link" href="{% url 'about' %}" style="color:white;">About <span class="sr-only"></a>
          </li>
          {% block 'left_navitems' %}
          {% endblock 'left_navitems' %}
        </ul>
        {% if current_user != None %}
          <p style="color:white;">Hello, {{current_user.first_name}}</p>
        {% else %}
          <button id="signupBtn" type="button" class="btn btn-light" style="margin-left:15px;margin-right:15px;">Sign up</button>
          <button id="loginBtn" type="button" class="btn btn-success">Log in</button>
        {% endif %}
      </div>
    </nav>
    {% if current_user %}Hello, {{current_user.first_name}}{% endif %}
    {% block 'content' %}
    {% endblock 'content' %}

    <!-- The sign up Modal -->
    <div id="signupModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Create a new account</h4>
            <span class="close">&times;</span>
          </div><!-- modal head -->
          <div class="modal-body">
            <form action="signup" method="post">
                {% csrf_token %}
                  {% for field in signup_form %}
                      <div class="form-group">
                      {{ field.label_tag }}
                      {{ field }}
                      </div>
                      
                  {% endfor %}
                <button type="submit" class="btn btn-info" >Register</button>
              </form>
          </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- The login Modal -->
    <div id="loginModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Log in to your account</h4>
            <span class="close">&times;</span>
          </div> <!-- modal head -->
          <div class="modal-body">
            <form action="login" method="post">
                {% csrf_token %}
                  {% for field in login_form %}
                      <div class="form-group">
                      {{ field.label_tag }}
                      {{ field }}
                      </div>
                      
                  {% endfor %}
                <button type="submit" class="btn btn-info">Login</button>
              </form>
          </div> <!-- modal body -->
        </div><!-- /.modal-content -->
      </div> <!-- modal dialog -->
    </div> <!-- modal -->



    <script>
    // Get the modal
    var signup_modal = document.getElementById("signupModal");
    var login_modal = document.getElementById("loginModal");

    // Get the button that opens the modal
    var signup_btn = document.getElementById("signupBtn");
    var login_btn = document.getElementById("loginBtn");

    // Get the <span> element that closes the modal
    var signup_close_span = document.getElementsByClassName("close")[0];
    var login_close_span = document.getElementsByClassName("close")[1];

    // When the user clicks the button, open the modal 
    signup_btn.onclick = function() {
      signup_modal.style.display = "block";
    }
    login_btn.onclick = function() {
      login_modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    signup_close_span.onclick = function() {
      signup_modal.style.display = "none";
    }
    login_close_span.onclick = function() {
      login_modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == signup_modal || event.target == login_modal) {
        signup_modal.style.display = "none";
        login_modal.style.display = "none";
      }
    }
    </script>
</body>
</html>